.Layout {
  display: flex;
  align-items: start;
  min-height: 100vh;

  .sideBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .LayoutContent {
    flex: 1;
    display: flex;
    min-height: 100dvh;
    flex-direction: column;
    margin-left: 300px;
    transition: margin-left 0.3s ease;

    &.collapsed {
      margin-left: 95px;
    }

    main {
      flex: 1;
    }

    footer {
      margin-top: auto;
    }
  }

  @media (max-width: 768px) {
    .LayoutContent {
      margin-left: 0;

      &.collapsed {
        margin-left: 0;
      }
    }

    .sideBar {
      transform: translateX(-100%);
      transition: transform 0.3s ease;

      &.open {
        transform: translateX(0);
      }
    }
  }
}
.fadeInUp {
  margin: 40px 20px 20px 0;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease-out forwards;

  @media (max-width: 768px) {
    margin: 20px 10px 10px 10px;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
